.overview-resource-items {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 16px;

    .item {
        flex: 1;
        margin-bottom: 20px;
        border: 1px solid #dfdfdf;
        border-radius: 4px;
        overflow: hidden;
    
        /* Overview item value */
        &__value {
            padding: 10px 16px;
            text-align: center;
            color: #1e6d98;
            font-family: $font-family;
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
            margin-bottom: 1px;
        }
    
        /* Overview item label */
        &__label {
            flex: 1;
            background: #f8f8f8;
            padding: 8px 16px;
            text-align: center;
            color: #767676;
            font-family: $font-family;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
        }
    }
}


