.external-certificate-report-sub-title {
    margin-bottom: 16px;
    color: $color-black;
    font-family: $font-family;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
