.details-shared-service-report-by-dc-dg {
    .dg-row {
        background-color: #dae8fc;

        td {
            color: #00a1e5 !important;
            font-weight: 600 !important;

            &:first-child {
                text-align: left !important;
            }
        }
    }
}
