.table-experience-summary {
    .table-row-dg {
        background-color: #3cc !important;

        td {
            color: #ffffff !important;
            background: transparent !important;
        }
    }

    .table-row-total {
        background-color: #eaeaea !important;

        td {
            background-color: #eaeaea !important;
            font-weight: 500 !important;
        }
    }
}
