.contract-contractor-print {
    b {
        font-weight: 600;
    }

    .contractor-terms {
        .contractor-terms-item {
            margin-top: 6px;
            margin-bottom: 6px;

            .contractor-terms-item-header {
                .contractor-terms-item-title {
                    font-weight: 600;
                }
            }
        }
    }
}
